# Log-Dateien
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Abhängigkeiten
node_modules/
jspm_packages/
web_modules/
dbfiles/

empty_db.sql
backup.sql

# Umgebungsvariablen
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build-Artefakte
build/
dist/
public/build/
.next/
.nuxt/
.vuepress/dist/
.cache/

# Temporäre Dateien
tmp/
temp/

# IDE-spezifische Dateien (Beispiele für VS Code, fügen Sie Ihre hinzu)
.vscode/
.idea/
*.swp
*.swo

# Uploads-Ordner (wenn von der Anwendung hochgeladene Dateien enthält)
uploads/

# Datenbankspezifisches (falls nicht in der Versionskontrolle)
*.sqlite
*.sql.dump
db.sql # Wenn Sie Ihre Datenbankstruktur nicht in Git verfolgen wollen

# Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db